<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.xmzlb.wine"
          android:versionCode="19"
          android:versionName="1.29">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name="com.xmzlb.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logoapp2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56f1e539e0f55a8fb4001fea"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="f8293a20b6b35aae09a4a491967dece6"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"/>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"/>
        <activity
            android:name=".AllOrderActivity"
            android:label="@string/title_activity_all_order"/>
        <activity
            android:name=".AddressActivity"
            android:label="@string/title_activity_address"/>
        <activity
            android:name=".AddAddressActivity"
            android:label="@string/title_activity_add_address"/>
        <activity
            android:name=".MyInfoActivity"
            android:label="@string/title_activity_my_info"/>
        <activity
            android:name=".SafeCenterActivity"
            android:label="@string/title_activity_safe_center"/>
        <activity
            android:name=".ChangeNameActivity"
            android:label="@string/title_activity_change_name"/>
        <activity
            android:name=".UserCenterActivity"
            android:label="@string/title_activity_user_center"/>
        <activity
            android:name=".NewDetailActivity"
            android:label="@string/title_activity_new_detail"/>
        <activity
            android:name=".ChangePwdActivity"
            android:label="@string/title_activity_change_pwd"/>
        <activity
            android:name=".AgreementActivity"
            android:label="@string/title_activity_agreement"/>
        <activity
            android:name=".MyCollectedActivity"
            android:label="@string/title_activity_my_collected"/>
        <activity
            android:name=".ComfirOrderActivity"
            android:label="@string/title_activity_comfir_order"/>
        <activity
            android:name=".ReturnAndChangeActivity"
            android:label="@string/title_activity_return_and_change"/>
        <activity
            android:name=".AllClassifyActivity"
            android:label="@string/title_activity_all_classify"/>
        <activity
            android:name=".UserLogInActivity"
            android:label="@string/title_activity_user_log_in"/>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"/>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"/>
        <activity
            android:name=".EditUserInfoActivity"
            android:label="@string/title_activity_edit_user_info"/>
        <activity
            android:name=".ComplaintActivity"
            android:label="@string/title_activity_complaint"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".ScoreActivity"
            android:label="@string/title_activity_score"/>
        <activity
            android:name=".ChoosePicActivity"
            android:label="@string/title_activity_choose_pic"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".AfterSaleActivity"
            android:label="@string/title_activity_asfter_sale"/>
        <activity
            android:name=".NewReturnActivity"
            android:label="@string/title_activity_new_return"/>
        <activity
            android:name=".CollectionActivity"
            android:label="@string/title_activity_collection"/>
        <activity
            android:name=".ScoreCityActivity"
            android:label="@string/title_activity_score_city"/>
        <activity
            android:name=".AllProductActivity"
            android:label="@string/title_activity_all_product"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".ScoreDetailActivity"
            android:label="@string/title_activity_score_detail"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".ComfirmOrderActivity"
            android:label="@string/title_activity_new_comfirm_order"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".SellerActivity"
            android:label="@string/title_activity_seller"/>
        <activity
            android:name=".SendOrderActivity"
            android:label="@string/title_activity_send_center"/>
        <activity
            android:name=".SendActivity"
            android:label="@string/title_activity_send"/>
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SupplyActivity"
            android:label="@string/title_activity_supply"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".OrderDetailActivity"
            android:label="@string/title_activity_order_detail"/>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.king.photo.activity.ImageGridActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.king.photo.activity.TestPicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.king.photo.activity.PhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.king.photo.activity.AlbumActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.king.photo.activity.ImageFile"/>
        <activity android:name="com.king.photo.activity.ShowAllPhoto"/>
        <activity android:name="com.king.photo.activity.GalleryActivity"/>

        <meta-data
            android:name="PGYER_APPID"
            android:value="3b5251d18e188116defbe44ec3670176"/>

        <activity
            android:name=".ReturnPwdActivity"
            android:label="@string/title_activity_return_pwd"/>
        <activity android:name="com.xmzlb.base.baseActivityTopAndBottom"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".IWantSupply"
            android:theme="@style/Theme.AppCompat.Translucent"
            >

        </activity>
    </application>

</manifest>